*{
	margin: 0;
}

div {
	height: 447px;
	width: 560px;
	background-color: #80cdc6;
	overflow:hidden;
}
.clouds {
position: relative;
    top: -8px;
    left: 213px;
    height: 125px;
    z-index: 1;
}

.world {

    position: relative;
    top: -35px;
    z-index: 2;
    height: 75%;
    left: -6px;
}
.ship {
    left: 12px;
    position: relative;
    top: -183px;
    z-index: 3;
    size: 120%;
    width: 21%;

}


.water {
        left: -8px;
    position: relative;
    top: -198px;
    z-index: 4;
    size: 120%;
    width: 103%;
}
.fouter {
	background-color: #176c7f;
    width: 560px;
    height: 10px;
    position: relative;
    z-index: 5;
    top: -206px;
}
